.env
.credentials
.DS_Store
Model/__pycache__/
Model/.ipynb_checkpoints/
.idea/
Data_Processing_Assimilation/.ipynb_checkpoints/
Data_Processing_Assimilation/outputs/
Data/WBD/
*.csv
*.h5
*.pkl
*.parquet